<%- include("partials/header"); -%>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Photos/727+Stu-11+(adj).jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="Photos/photo-1598488035139-bdbb2231ce04.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="Photos/DSCF1535.jpg" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="Photos/2020-03-01_hype-964+(1).jpg" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section id="about-us">
  <div class="about">
    <h1 class="mission-heading">Our Mission</h1>
    <p class="description">To make art that will blow ya mind.</p>
  </div>
</section>

<section id="who-we-are">
  <div class="container-fluid members">
    <h1 class="members-heading">Our Members</h1>
    <h2 class="members-subheading">Meet the founders</h2>

    <div class="row member-row"> <!-- Address how this can be scaled -->
      <% founders.forEach(function(founder){ %>
        <div class="member-profile col-lg-4">
          <a href="/founder-profile/<%= founder.firstName %>"><img class="member-image" src="Photos/<%= founder.imageIcon %>" alt="..."></a>
          <h4><a class="bio-link" href="/founder-profile/<%= founder.firstName %>"><%= founder.firstName %> <%= founder.lastName %></a></h4>
          <i><%= founder.roleDescription %></i>
        </div>
      <% }); %>
    </div>
    <h2 class="members-subheading">Meet the artists</h2>
    <div class="row member-row"> <!-- Address how this can be scaled -->
      <% artists.forEach(function(artist){ %>
      <div class="member-profile col-lg-6">
        <a href="/artist-profile/<%= artist.firstName %>"><img class="member-image" src="Photos/<%= artist.imageIcon %>" alt="..."></a>
        <h4><a class="bio-link" href="/artist-profile/<%= artist.firstName %>"><%= artist.firstName %> <%= artist.lastName %></a></h4>
        <i><%= artist.roleDescription %></i>
      </div>
      <% }); %>
    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
